doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body            
    header
      include common/navbar.pug   
      +navbar(user)
      //- form(action="/restaurant/search",method="POST")
      //-   input(type="number",name="X",placeholder=0) X
      //-   input(type="number",name="Y",placeholder=0) Y
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left-.pr-md-5
            h1.md-3 Subscribe to The App
            p.lead Restaurants
            p.lead.mb-4 To show list of restaurants from DB.
            form(action="/",method="POST")
              .input-group.mb-3
                input(name="lead_email",type="EMAIL",placeholder="ENTER YOUR EMAIL.").form-control
                .input-group-append
                  button(type="submit").btn.btn-primary Get Started
        
        //- form(action="/",method="POST")
        //-   input(name="lead_email",type="EMAIL",placeholder="ENTER YOUR EMAIL.")
        //-   input(type="PASSWORD",placeholder="ENTER YOUR EMAIL.")
        //-   button(type="submit") Submit
        
    include common/footer.pug
    +footer()
    //- script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='/javascripts/leads.js')
