doctype html
html(lang='en')
  head
    
  body.animsition
    header
      // Header desktop
      #wrap_header
        // Logo
        .logo.col_header
          a(href='index.html')
            img(alt='logo-deli', src='images/icons/logo.png')
        // Menu
        .main_nav
          nav.menu.col_header
            ul.main_menu
              li
                a(href='index.html') Home
                ul.sub_menu
                  li
                    a(href='index.html') Homepage
                  li
                    a(href='home-boxed.html') Homepage Boxed
                  li
                    a(href='home-outgrid.html') Homepage Outgrid
                  li
                    a(href='home-showcase.html') Homepage Showcase
                  li
                    a(href='home-vertical-menu.html') Home Vertical Menu
                  li
                    a(href='home-onepage.html') Homepage Onepage
              li
                a(href='menu-01.html') Menus
                ul.sub_menu
                  li
                    a(href='menu-01.html') Menu 01
                  li
                    a(href='menu-02.html') Menu 02
                  li
                    a(href='menu-03.html') Menu 03
                  li
                    a(href='product-detail.html') Product Detail
              li
                a.have_sub_menu(href='reservation-01.html') Reservation
                ul.sub_menu
                  li
                    a(href='reservation-01.html') Reservation V1
                  li
                    a(href='reservation-02.html') Reservation V2
                  li
                    a(href='reservation-03.html') Reservation V3
              li
                a(href='about-us.html') About us
              li
                a(href='shop-page.html') Features
                ul.sub_menu
                  li
                    a(href='shop-page.html') Shop Page
                  li
                    a(href='shopping-cart.html') Shopping Cart
                  li
                    a(href='check-out.html') Check Out
              li
                a(href='blog-list-with-sidebar-01.html') Blog
                ul.sub_menu
                  li
                    a(href='blog-list-with-sidebar-01.html') Blog With Sidebar V1
                  li
                    a(href='blog-list-with-sidebar-02.html') Blog With Sidebar V2
                  li
                    a(href='blog-mansory.html') Blog Mansory
                  li
                    a(href='blog-detail.html') Blog Detail
              li
                a(href='contact-us.html') Contact
        // Socials
        .icon-header.col_header
          a(href='#')
            i.fa.fa-facebook(aria-hidden='true')
          a(href='#')
            i.fa.fa-twitter(aria-hidden='true')
          a(href='#')
            i.fa.fa-tripadvisor(aria-hidden='true')
          a(href='#')
            i.fa.fa-instagram(aria-hidden='true')
      // Header Mobile
      #wrap_header_mobile
        // Logo moblie
        .logo-mobile
          a(href='index.html')
            img(alt='logo-deli', src='images/icons/logo-mobile.png')
        // Button show menu
        .btn-show-menu
          button.btn-show-menu-mobile.hamburger.hamburger--squeeze(type='button')
            span.hamburger-box
              span.hamburger-inner
      // Menu Mobile
      .wrap-side-menu
        nav.side-menu
          ul.main-menu
            li
              a(href='index.html') Home
              i.arrow-main-menu.fa.fa-angle-right(aria-hidden='true')
              ul.sub-menu
                li
                  a(href='index.html') Homepage
                li
                  a(href='home-boxed.html') Homepage Boxed
                li
                  a(href='home-outgrid.html') Homepage Outgrid
                li
                  a(href='home-showcase.html') Homepage Showcase
                li
                  a(href='home-vertical-menu.html') Home Vertical Menu
                li
                  a(href='home-onepage.html') Homepage Onepage
            li
              a(href='menu-01.html') Menus
              i.arrow-main-menu.fa.fa-angle-right(aria-hidden='true')
              ul.sub-menu
                li
                  a(href='menu-01.html') Menu 01
                li
                  a(href='menu-02.html') Menu 02
                li
                  a(href='menu-03.html') Menu 03
                li
                  a(href='product-detail.html') Product Detail
            li
              a(href='reservation-01.html') Reservation
              i.arrow-main-menu.fa.fa-angle-right(aria-hidden='true')
              ul.sub-menu
                li
                  a(href='reservation-01.html') Reservation V1
                li
                  a(href='reservation-02.html') Reservation V2
                li
                  a(href='reservation-03.html') Reservation V3
            li
              a(href='about-us.html') About us
            li
              a(href='shop-page.html') Features
              i.arrow-main-menu.fa.fa-angle-right(aria-hidden='true')
              ul.sub-menu
                li
                  a(href='shop-page.html') Shop Page
                li
                  a(href='shopping-cart.html') Shopping Cart
                li
                  a(href='check-out.html') Check Out
            li
              a(href='blog-list-with-sidebar-01.html') Blog
              i.arrow-main-menu.fa.fa-angle-right(aria-hidden='true')
              ul.sub-menu
                li
                  a(href='blog-list-with-sidebar-01.html') Blog With Sidebar V1
                li
                  a(href='blog-list-with-sidebar-02.html') Blog With Sidebar V2
                li
                  a(href='blog-mansory.html') Blog Mansory
                li
                  a(href='blog-detail.html') Blog Detail
            li
              a(href='contact-us.html') Contact
    // Title Menu page
    section
      .bg-title-sub-page.bg-menu-page-01
        .wrap-title-sub-page
          h2.title-l Our Menu
          h6.title-s Home / Our Menu
    // Our Menu 1
    section.our-menu.for-menu-page
      .container
        // title our menu
        .wrap-title-our-menu.row
          .col-12.title-our-menu
            h6 try & discover
            h2 Our Appetizer
        // list food
        .wrap-list-food
          .row.list-food
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.2s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.2s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-01.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Pine nut sbrisalona
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Proin lacinia nisl ut ultricies posuere nulla ut
                .price-food.col-12.col-sm-2 $20.00
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.2s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.2s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-05.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Potato gnocchi
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Proin lacinia nisl ut ultricies posuere nulla ut
                .price-food.col-12.col-sm-2 $10.00
          .row.list-food
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.4s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.4s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-02.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Lobster caponata
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Suspendisse sodales congue maximus
                .price-food.col-12.col-sm-2 $10.00
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.4s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.4s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-06.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Pork ribollita
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Suspendisse sodales congue maximus
                .price-food.col-12.col-sm-2 $15.00
          .row.list-food
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.6s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.6s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-03.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Chocolate budino
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Interdum et malesuada fames primis in faucibus
                .price-food.col-12.col-sm-2 $15.00
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.6s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.6s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-07.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Livorno style caccuchino
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Interdum et malesuada fames primis in faucibus
                .price-food.col-12.col-sm-2 $30.00
          .row.list-food
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.8s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.8s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-04.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Charred octopus
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Proinin velit odio mollis ac tortor eget ullamcorper
                .price-food.col-12.col-sm-2 $5.00
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.8s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.8s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-08.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Baulletti
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Proinin velit odio mollis ac tortor eget ullamcorper
                .price-food.col-12.col-sm-2 $5.00
    // Banner
    .parallax-banner-3
      .content-banner-for-menu-page
    // Our Menu 2
    section.our-menu.for-menu-page
      .container
        // title our menu
        .wrap-title-our-menu.row
          .col-12.title-our-menu
            h6 try & discover
            h2 Our Main Meal
        // list food
        .wrap-list-food
          .row.list-food
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.2s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.2s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-03.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Chocolate budino
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Interdum et malesuada fames primis in faucibus
                .price-food.col-12.col-sm-2 $15.00
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.2s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.2s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-07.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Livorno style caccuchino
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Interdum et malesuada fames primis in faucibus
                .price-food.col-12.col-sm-2 $30.00
          .row.list-food
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.4s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.4s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-04.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Charred octopus
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Proinin velit odio mollis ac tortor eget ullamcorper
                .price-food.col-12.col-sm-2 $5.00
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.4s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.4s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-08.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Baulletti
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Proinin velit odio mollis ac tortor eget ullamcorper
                .price-food.col-12.col-sm-2 $5.00
          .row.list-food
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.6s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.6s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-01.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Pine nut sbrisalona
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Proin lacinia nisl ut ultricies posuere nulla ut
                .price-food.col-12.col-sm-2 $20.00
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.6s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.6s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-05.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Potato gnocchi
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Proin lacinia nisl ut ultricies posuere nulla ut
                .price-food.col-12.col-sm-2 $10.00
          .row.list-food
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.8s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.8s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-02.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Lobster caponata
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Suspendisse sodales congue maximus
                .price-food.col-12.col-sm-2 $10.00
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.8s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.8s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-06.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Pork ribollita
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Suspendisse sodales congue maximus
                .price-food.col-12.col-sm-2 $15.00
    // Banner 2
    .parallax-banner-4
      .content-banner-for-menu-page
    // Our Menu 3
    section.our-menu.for-menu-page
      .container
        // title our menu
        .wrap-title-our-menu.row
          .col-12.title-our-menu
            h6 try & discover
            h2 Our Dessert
        // list food
        .wrap-list-food
          .row.list-food
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.2s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.2s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-02.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Lobster caponata
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Suspendisse sodales congue maximus
                .price-food.col-12.col-sm-2 $10.00
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.2s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.2s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-06.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Pork ribollita
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Suspendisse sodales congue maximus
                .price-food.col-12.col-sm-2 $15.00
          .row.list-food
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.4s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.4s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-03.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Chocolate budino
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Interdum et malesuada fames primis in faucibus
                .price-food.col-12.col-sm-2 $15.00
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.4s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.4s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-07.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Livorno style caccuchino
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Interdum et malesuada fames primis in faucibus
                .price-food.col-12.col-sm-2 $30.00
          .row.list-food
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.6s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.6s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-01.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Pine nut sbrisalona
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Proin lacinia nisl ut ultricies posuere nulla ut
                .price-food.col-12.col-sm-2 $20.00
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.6s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.6s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-05.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Potato gnocchi
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Proin lacinia nisl ut ultricies posuere nulla ut
                .price-food.col-12.col-sm-2 $10.00
          .row.list-food
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.8s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.8s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-04.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Charred octopus
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Proinin velit odio mollis ac tortor eget ullamcorper
                .price-food.col-12.col-sm-2 $5.00
            .col-md-10.col-lg-6
              // item food
              .item-food.row.wow.fadeInDown(data-wow-delay='0.8s')
                .col-12.col-sm-2.img-list-food.wow.zoomIn(data-wow-delay='0.8s')
                  a(href='product-detail.html')
                    img(alt='food', src='images/img-our-menu-08.png')
                .col-12.col-sm-8.text-list-food
                  .name-price.row
                    .name-food.col-12.col-sm-auto
                      a.hover-link-color(href='product-detail.html') Baulletti
                    .line-food.col
                      .add-line-run
                  .row
                    .col-12.col-sm-12.info-food
                      | Proinin velit odio mollis ac tortor eget ullamcorper
                .price-food.col-12.col-sm-2 $5.00
    footer
      .container
        .content-footer.row
          .column-footer.col-lg-5.col-md-8.col-sm-7
            h3 Contact information
            ul
              li ADDRESS: 100 Tenth Avenue, New York City, NY 1001
              li FOR BOOKING: (044) 359 0173
              li#follow-us
                | FOLLOW US ON: 
                a(href='#')
                  i.fa.fa-facebook(aria-hidden='true')
                a(href='#')
                  i.fa.fa-twitter(aria-hidden='true')
                a(href='#')
                  i.fa.fa-tripadvisor(aria-hidden='true')
                a(href='#')
                  i.fa.fa-instagram(aria-hidden='true')
          .column-footer.col-lg-4.col-md-5.col-sm-7
            h3 Restaurant hours
            ul#restaurant-hours
              li
                span.span-left LUNCH:
              li
                span.span-left Monday - Friday
                span.span-right 11:30AM - 2:00PM
              li
                span.span-left DINNER:
              li
                span.span-left Monday - Friday
                span.span-right 5:30PM - 11:00PM
              li
                span.span-left Saturday - Sunday
                span.span-right 4:30PM - 10:00PM
            .line-divide.first-line
          .column-footer.col-lg-3.col-md-3.col-sm-7
            h3 Useful links
            ul#useful-links
              li
                span.span-left
                  a(href='index.html') Home
                span.span-right
                  a(href='shop-page.html') Features
              li
                span.span-left
                  a(href='menu-01.html') Menus
                span.span-right
                  a(href='blog-list-with-sidebar-01.html') Blog
              li
                span.span-left
                  a(href='reservation-01.html') Reservation
                span.span-right
                  a(href='contact-us.html') Contact us
              li
                a(href='about-us.html') About us
            .line-divide.second-line
      .wrap-bottom-footer
        .container
          .bottom-footer.row.justify-content-between
            .col-12.col-sm-7 © 2017 DesignGalaxy8. All rights reserved.
            .col-12.col-sm-5
              span Privacy policy
              span Terms of use
    // Back to top
    #myBtn.btn-back-to-top
      span.symbol-btn-back-to-top
        i.fa.fa-angle-double-up(aria-hidden='true')
    // ===============================================================================================
    script(type='text/javascript', src='vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(type='text/javascript', src='vendor/wow/wow.min.js')
    script(type='text/javascript').
      new WOW().init();
    // ===============================================================================================
    script(type='text/javascript', src='vendor/animsition/dist/js/animsition.min.js')
    // ===============================================================================================
    script(type='text/javascript', src='vendor/bootstrap/js/popper.min.js')
    script(type='text/javascript', src='vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(type='text/javascript', src='vendor/select2/select2.min.js')
    // ===============================================================================================
    script(type='text/javascript', src='vendor/daterangepicker-bootstrap/moment.min.js')
    script(type='text/javascript', src='vendor/daterangepicker-bootstrap/daterangepicker.js')
    // ===============================================================================================
    script(src='js/main.js')
