mixin navbar()
    .main_nav
        nav.menu.col_header
            nav.navbar.navbar-expand.navbar-light.bg-light
                a.navbar-brand(href='/') Restaurants
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon                
                .collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href="/") Home
                        li.nav-item
                            a.nav-link(href="/leads") Leads
                        
